<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{header}}</title>
    <link rel="stylesheet" href="pdf-styles.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>{{header}}</h1>
        </div>
        {{#each sections}}
        <div class="section">
            {{#if header}}<h2 class="section-title no-indent">{{header}}</h2>{{/if}}
            {{#each items}}
                {{#if paragraph}}<div class="paragraph"><p class="paragraph">{{paragraph}}</p></div>{{/if}}
                {{#if break}}<br>{{/if}}
                {{#if list}}<div class="list"><ul>
                    {{#each list}}<li>{{this}}</li>{{/each}}
                </ul></div>{{/if}}

                {{#if subsection}}
                <div class="subsection">
                    {{#if subsection.header}}<p class="text-indent sub-title">{{subsection.header}}</h2>{{/if}}
                    {{#each subsection.items}}
                        {{#if paragraph}}<div class="paragraph"><p class="paragraph">{{paragraph}}</p></div>{{/if}}
                        {{#if break}}<br>{{/if}}
                        {{#if list}}<div class="list"><ul>
                            {{#each list}}<li>{{this}}</li>{{/each}}
                        </ul></div>{{/if}}
                    {{/each}}
                </div>
                {{/if}}

            {{/each}}
        </div>
        {{/each}}
    </div>
</body>
</html>